*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.img1 {
    background-image: url('../assets/natureza.jpg');
    width: 98%;        
    height: 350px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    background-attachment: fixed;
    }

.img2 {
    background-image: url('../assets/praia.jpg');
    width:98%;
    height: 350px;
    background-size: cover;
    margin: 0 auto;
    background-attachment:fixed;
}

.img3 {
    background-image: url('../assets/montanha.jpg');
    width:98%;
    height: 350px;
    background-size: cover;
    margin: 0 auto;
    background-attachment:fixed;
    
}